/* Timeline holder */
ul.timeline {
  display: inline-block;
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: " ";
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
  cursor: pointer;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: " ";
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.title-text {
  color: #21252a;
}

.selected-item {
  background: #4361ee;
  transition: background 500ms;
}

.selected-text {
  color: #fff;
}

.selected-subtext {
  color: #e3e3e3;
}

.timeline-ul {
  line-height: 2;
}

.unclickable {
  pointer-events: none;
}
