.timeline-item {
  margin: 1.25rem 0;
  cursor: pointer;
}

/* Timeline item circle marker */
.timeline-item::before {
  content: " ";
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 0.1875rem solid #fff;
  left: 0.6875rem;
  width: 0.875rem;
  height: 0.875rem;
  z-index: 400;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);
}

.selected-item {
  background: #4361ee;
  transition: background 500ms;
}

.selected-text {
  color: #fff;
}

.selected-subtext {
  color: #e3e3e3;
}

.unclickable {
  pointer-events: none;
}
