@import '../../styles/colors';
@import '../../styles/animations';

.timeline-description-enter {
  @include fadeIn;
}

.timeline-description-enter-active {
  @include fadeInActive;
}

.title-text {
  color: $raisinBlack;
}

.timeline-ul {
  line-height: 2;
}

@media (prefers-color-scheme: dark) {
  .title-text {
    color: $gainsboro;
  }
}
