$bodyFontFamily: var(--font-raleway), 'Raleway', sans-serif;
$bodyFontWeight: 400;
$headingFontFamily: var(--font-poppins), 'Poppins', sans-serif;
$headingFontWeight: 600;
$codeFontFamily: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$codeFontWeight: 400;
$iconFontFamily: var(--font-meddon), 'Meddon', cursive;
