$bodyFontFamily: "Raleway", sans-serif;
$bodyFontWeight: 400;
$headingFontFamily: "Poppins", sans-serif;
$headingFontWeight: 600;
$codeFontFamily: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$codeFontWeight: 400;
$iconFontFamily: "Meddon", cursive;