@import '../../styles/colors';
@import '../../styles/fonts';

.nav-link {
  font-weight: 500;
  text-decoration: underline 0.2em;
  text-decoration-color: $cultured;
  text-underline-offset: 0.2em;
  transition: color 500ms, text-decoration-color 500ms;
}

.nav-link:hover {
  text-decoration-color: $ultramarineBlue;
  transition: color 500ms, text-decoration-color 500ms;
}

#navbarScrollingDropdown::after {
  content: none;
}

.dropdown-menu {
  min-width: fit-content;
}

.dropdown-menu:hover .social-icon {
  color: $gainsboro;
  transition: color 500ms;
}

.dropdown-item:hover {
  background-color: inherit;
}

.dropdown-item:hover .social-icon {
  color: $ultramarineBlue;
  transition: color 500ms;
}

.dropdown-item:active {
  background-color: inherit;
}

.letter-icon {
  font-family: $iconFontFamily;
  top: 1.75rem;
}

.letter {
  transition: color 500ms;
}

.letter:hover {
  color: $ultramarineBlue;
  transition: color 500ms;
}

@media (prefers-color-scheme: dark) {
  .nav-link {
    text-decoration-color: $raisinBlack;
  }

  .nav-link:hover {
    text-decoration-color: $cornflowerBlue;
  }

  .dropdown-menu:hover .social-icon {
    color: $davysGrey;
  }

  .dropdown-item:hover .social-icon {
    color: $cornflowerBlue;
  }

  .dropdown-menu {
    background-color: $eerieBlack;
  }

  .letter:hover {
    color: $cornflowerBlue;
  }
}
