@import '../../styles/colors';

.album-card {
  max-height: 23rem;
  max-width: 16rem;
  min-height: 23rem;
  min-width: 16rem;
  border: none;
  background-color: $offWhite;
  transition: filter 500ms;

  &:hover {
    .album-img {
      filter: grayscale(0%);
    }
  }
}

.album-img {
  filter: grayscale(100%);
  transition: filter 500ms;
}
