@import '../../styles/colors';

.social-icon {
  color: $davysGrey;
}

.row:hover .social-icon {
  color: $gainsboro;
  transition: color 500ms;
}

.row .social-icon:hover {
  color: $fernGreen;
  transition: color 500ms;
}
