@import '../../styles/colors';

a {
  text-decoration: none;
}

a h1 {
  transition: color 500ms;
  scroll-margin-top: 5rem;
  display: inline-block;
}

a:hover h1 {
  color: $davysGrey;
  transition: color 500ms;
}