@import 'styles/colors';
@import 'styles/fonts';

body {
  background-color: $cultured;
  padding-top: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $bodyFontFamily;
  font-weight: $bodyFontWeight;
  color: $davysGrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFontFamily;
  font-weight: $headingFontWeight;
  color: $ultramarineBlue;
}

code {
  font-family: $codeFontFamily;
  font-weight: $codeFontWeight;
}

::selection {
  background: $platinum;
  color: $davysGrey;
}

:focus {
  outline-color: $ultramarineBlue;
}

/* Links */

.link-cultured {
  color: $davysGrey;
  font-weight: bold;
  text-decoration: underline 0.19em;
  text-decoration-color: $cultured;
  text-underline-offset: 0.175em;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-cultured:hover {
  color: $davysGrey;
  text-decoration-color: $ultramarineBlue;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-white {
  color: $davysGrey;
  font-weight: bold;
  text-decoration: underline 0.19em;
  text-decoration-color: $white;
  text-underline-offset: 0.175em;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-white:hover {
  color: $davysGrey;
  text-decoration-color: $ultramarineBlue;
  transition: color 500ms, text-decoration-color 500ms;
}

/* Images and Cards */

.rounded-corners {
  border-radius: 1.875rem;
}

.border-purple {
  border: 0.5rem solid $ultramarineBlue;
}

.mono {
  filter: grayscale(100%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $raisinBlack;
    color: $gainsboro;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $cornflowerBlue;
  }

  ::selection {
    background: $davysGrey;
    color: $platinum;
  }

  :focus {
    outline-color: $cornflowerBlue;
  }

  .link-cultured {
    color: $gainsboro;
    text-decoration-color: $raisinBlack;
  }

  .link-cultured:hover {
    color: $gainsboro;
    text-decoration-color: $cornflowerBlue;
  }

  .link-white {
    color: $gainsboro;
    text-decoration-color: $eerieBlack;
  }

  .link-white:hover {
    color: $gainsboro;
    text-decoration-color: $cornflowerBlue;
  }

  .border-purple {
    border: 0.5rem solid $cornflowerBlue;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .border-top {
    border-top: 1px solid $davysGrey !important;
  }

  .border-bottom {
    border-bottom: 1px solid $davysGrey !important;
  }
}
