@import 'styles/colors';

body {
  background-color: $cultured;
  padding-top: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: $davysGrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: $ultramarineBlue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::selection {
  background: $platinum;
  color: $davysGrey;
}

:focus {
  outline-color: $ultramarineBlue;
}

/* Links */

.link-cultured {
  color: $davysGrey;
  font-weight: bold;
  text-decoration: underline 0.19em;
  text-decoration-color: $cultured;
  text-underline-offset: 0.175em;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-cultured:hover {
  color: $davysGrey;
  text-decoration-color: $ultramarineBlue;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-white {
  color: $davysGrey;
  font-weight: bold;
  text-decoration: underline 0.19em;
  text-decoration-color: $white;
  text-underline-offset: 0.175em;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-white:hover {
  color: $davysGrey;
  text-decoration-color: $ultramarineBlue;
  transition: color 500ms, text-decoration-color 500ms;
}

/* Images and Cards */

.rounded-corners {
  border-radius: 1.875rem;
}

.border-purple {
  border: 0.5rem solid $ultramarineBlue;
}

.mono {
  filter: grayscale(100%);
}
