body {
  background-color: #f8f9fa;
  padding-top: 56px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #495057;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #4361ee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::selection {
  background: #e3e3e3;
  color: #404040;
}

/* Links */

.link-cultured {
  color: #495057;
  font-weight: bold;
  text-decoration: underline 0.19em;
  text-decoration-color: #f8f9fa;
  text-underline-offset: 0.175em;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-cultured:hover {
  color: #495057;
  text-decoration-color: #4361ee;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-white {
  color: #495057;
  font-weight: bold;
  text-decoration: underline 0.19em;
  text-decoration-color: #fff;
  text-underline-offset: 0.175em;
  transition: color 500ms, text-decoration-color 500ms;
}

.link-white:hover {
  color: #495057;
  text-decoration-color: #4361ee;
  transition: color 500ms, text-decoration-color 500ms;
}

/* Images and Cards */

.rounded-corners {
  border-radius: 30px;
}

.border-purple {
  border: 8px solid #4361ee;
}

.mono {
  filter: grayscale(100%);
}
