@import '../../styles/colors';

.coursework-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-name {
  color: $davysGrey;
}

.course-code {
  color: $ultramarineBlue;
}

@media (prefers-color-scheme: dark) {
  .course-name {
    color: $gainsboro;
  }

  .course-code {
    color: $cornflowerBlue;
  }
}