@import '../../styles/colors';
@import '../../styles/animations';

.course-list-enter {
  @include fadeIn;
}

.course-list-enter-active {
  @include fadeInActive;
}

.coursework-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-name {
  color: $raisinBlack;
}

.course-code {
  color: $fernGreen;
}
